/* CSS Reset - 消除浏览器默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               "Roboto", "Helvetica Neue", "PingFang SC",
               "Microsoft YaHei", sans-serif;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

textarea {
  font: inherit;
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}
